<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cake Shop</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Inventory Page</a>
          <a href="/cakes">Cake Index Page</a>
          <a href="/cakes/new">Add a new cake</a>
          <a href="/bakers">Baker Index Page</a>
          <a href="/bakers/new">Add a new baker</a>
          </li>
        </ul>
      </nav>
    <%= yield  %>
  </body>
</html>
