<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Piece of Cake</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home Page</a>
          <a href="/cakes">Stock List</a>
          <a href="/cakes/new">Add Cake</a>
          <a href="/bakers">Baker List</a>
          <a href="/bakers/new">Add Baker</a>
          </li>
        </ul>
      </nav>
    <%= yield  %>
  </body>
</html>
