body {
  font-family: 'Arimo';
  background-color:#BFD7EA;
}

h1{
  color: #FFFFFF;
  text-align: center;
  background-color:#FF7577;
}
h2{
  color: #0B3954;
}

nav{
  color:#0B3954;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 10px;
}


.buying_cost{
  text-align: center;
}

.retail_cost{
  text-align: center;
}

.red {
  background-color: red;
  text-align: center;
}

.amber {
  background-color: orange;
  text-align: center;
}

.green {
  background-color: green;
  text-align: center;
}
