body {
  font-family: 'Arimo';
  background-color:#BFD7EA;
}

h2{
  color: #0B3954;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF7577;
}

li {
    float: right;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #0B3954;
}

.buying_cost{
  text-align: center;
}

.retail_cost{
  text-align: center;
}

.mark_up{
  text-align: center;
}

.red {
  background-color: red;
  text-align: center;
}

.amber {
  background-color: orange;
  text-align: center;
}

.green {
  background-color: green;
  text-align: center;
}
