
<table>
  <caption><h2>Baker List</h2> </caption>
  <tr>
    <th scope="col">Baker Name</th>
    <th scope="col">Quick Delete</th>
  </tr>
    <% for baker in @bakers %>
  <tr>
    <td><a href="bakers/<%= baker.id%>"> <%=baker.name() %></a></td>
    <td><form action="/bakers/<%=baker.id%>/delete" method="Post"><input type="submit" value=" Delete <%=baker.name() %>">
    </form></td>
  </tr>
    <%end%>
</table>
<br>
<p> You can only delete a baker if they are not currently supplying your cakes</p>
